{% extends "/admin/layout.html" %}
{% block title %} Phân loại tin tức {% endblock %}
{% block body %}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Phân loại tin tức</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/User/Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Phân loại tin tức</li>
        </ol>
        
       
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="classificationForm" action="/admin/detectnews" method="post" style="margin-top: 100px;">
                        <div class="input-group mb-3">
                            <input type="text" id="urlInput" name="url" class="form-control" placeholder="Nhập URL cần kiểm tra..." required style="border-radius: 50;">
                            <button type="submit" class="btn btn-primary" style="border-radius: 50;">Classify</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    {%if data %}
        <div class="mt-4">
            <h3>Kết quả:</h3>
            <div class="card">
                <div class="card-body" id="">
                    <div id="responseData">
                        <h4 >* Phân loại: {{data['predicted_label']}} </h4>
                    </div>

                    <h4>* Tiêu đề:</h4>{{data['title']}}
                    <h4>* URL:</h4>{{data['url']}}
                    <h4>* Keywords:</h4>{{data['keywords']}}
                    <h4>* Nội dung tóm tắt:</h4>{{data['summerize']}}
                    <h4>* Nội dung :</h4>{{data['content']}}

                </div>
            </div>
        </div>
    {% endif %}
    </div>
</main>

<script>
    var responseData = {{data}};
    if (responseData && responseData["predicted_label"] == "Danger news") {
        document.getElementById('responseData').classList.add('bg-danger');
    }else{
        document.getElementById('responseData').classList.add('bg-success');
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
<script src="/Admin/js/site.js"></script>


{% endblock %}