{% extends "layout.html" %}
{% block title %} HOME {% endblock %}
{% block body %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <h1 class="display-4">Welcome</h1>
                <p class="lead">Công cụ trinh sát thông tin trên các trang báo mạng.</a>.</p>
            </div>
           
        </div>
    </div>
</div>


<style>
    .or-divider {
        font-size: 1.5rem;
        font-weight: bold;
        color: #6c757d; /* Màu xám */
    }
</style>

{% endblock %}